<html>
    <title>Hunzinger Accounting</title>

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  <body>
    <ul id="songs">
      {% for song in songs %}
        <li class="song">
          <div class="title">{{ song }}</div>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
